/*
  Theme Name:   Child Theme - Break Room
  Version:      1.0.0
  Template:     mizzou-wp-base
  Text Domain:  theme-child
*/

/* -------------*/
/* MILCHICK!    */
/* -------------*/
#break-room p {
  text-align: center;
}
@keyframes throb {
  from { opacity: .3; }
    to { opacity: .6; }
}

#btn:disabled {
  opacity: .5;
}

#milchick {
  font-style: italic;
}

#milchick.evaluating {
  animation: throb .3s linear infinite alternate;
}
